@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}


@keyframes glow {
          from {
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.7),
              0 0 10px rgba(173, 216, 230, 0.5);
          }
          to {
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
              0 0 20px rgba(173, 216, 230, 0.8);
          }
        }